.container-center {
    display: flex;
    justify-self: center;
}
.btn {
    padding: 1.5em;
    border: solid 2px black;
    border-radius: 0.75em;
}
.btn-header {
    background-color: $colorE;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    min-width: 125px;
    height: 4.5em;
    border-radius: 0.75em;
}

.btn-header:hover {
    background-color: $colorD;
    color: black;
    transform: scale(1.05);
}


.btn-blue {
    background-color: $colorE;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.btn-blue:hover {
    background-color: $colorD;
    color: black;
    transform: scale(1.05);
}
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

@media (min-width:$desktopLimitSize) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

@media (max-width:$desktopLimitSize) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media (max-width:$smallphoneLimitSize) {
    .large-mobile {
        display: none;
    }
    .small-mobile {
        display: block;
    }
}