$limitDesktop: 720px;

.depense-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    overflow: scroll;
}
.image-depense {
    border: 1px solid black;
    border-radius: 100%;
}

.nom-depense {
    font-weight: bold;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ammount-depense {
    text-align: end;
}

.desktop {
    text-align: center;
    max-width: 140px;
}