.header {
    background-color: $colorA;
    display: flex;
    flex-direction: row;
    padding: 1em;
    // padding-top: 1em;
    // padding-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    // padding: 1em;
}

.container-header {
    width: fit-content;
    height: fit-content;
}

.logo {
    border: solid 3px black;
    border-radius: calc($tailleHeightLogo / 2);
}

.photo-profil {
    border: solid 5px black;
    border-radius: 100%;
    background-color: $colorC;
}

h1 {
    font-size: 8rem;
}
