$colorA: #dac4a9;
$colorB: #ede2d4;
$colorC: #e2e9f3;
$colorD: #a9bfda;
$colorE: #5480c6;

$tailleHeightLogo: 64px;
$smallphoneLimitSize: 450px;
$desktopLimitSize: 720px;


$breakpoints: (
        "phone-down": 500px,
        "tablet-up": 768px,
        "tablet-down": 900px,
        "desktop-up": 1024px,
        "desktop-down": 1200px,
        "widescreen-up": 1440px
);
